{% extends 'NSAdminBundle:Section:settings.html.twig' %}

{% block content_header %}
  <h3>Адреса электронной почты для получения заказов</h3>
{% endblock %}

{% block content_content %}
  {{ form_start(form) }}
    {{ form_errors(form.emails) }}
    {{ form_label(form.emails) }}
    {{ form_widget(form.emails) }}
  {{ form_end(form) }}
{% endblock %}
