<div id="footer">
  <div class="footer-conteyner">
    <div class="footer-left">
      {{ ns_cms_area(blocks, 'copyright') }}
    </div>
    <div class="footer-right">
      <div class="footer-nav">
        {{ ns_cms_area(blocks, 'footer_menu') }}
      </div>
      <div class="soc-img">
        <div class="footer-soc">
          <ul>
            <li><a href="#"><img src="{{ asset('bundles/mgfront/images/soc1.png') }}" width="102" height="20" ></a></li>
            <li><a href="#"><img src="{{ asset('bundles/mgfront/images/soc2.png') }}" width="77" height="20" ></a></li>
            <li><a href="#"><img src="{{ asset('bundles/mgfront/images/soc3.png') }}" width="74" height="20" ></a></li>
            <li><a href="#"><img src="{{ asset('bundles/mgfront/images/soc4.png') }}" width="32" height="20" ></a></li>
          </ul>
        </div>
        <div class="footer-img">
          <img src="{{ asset('bundles/mgfront/images/img-footer.png') }}" width="104" height="24" >
        </div>
      </div>
    </div>
  </div>
</div>
