<div id="footer">
  <div class="footer-conteyner">
    <div class="footer-left">
      <span><strong>© 2014 МосГурман</strong> — осетинские пироги с душой!</span>

      <p>Все права на материалы, находящиеся на сайте, охраняются в соответствии с законодательством РФ. <br>
        При любом использовании материалов сайта, письменное согласие обязательно.</p>
    </div>
    <div class="footer-right">
      <div class="footer-nav">
        <ul>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Оплата и доставка</a></li>
          <li><a href="#">Контакты</a></li>
          <li class="last"><a href="#">Организация выездных банкетов</a></li>
        </ul>
      </div>
      <div class="soc-img">
        <div class="footer-soc">
          <ul>
            <li><a href="#"><img src="{{ asset('bundles/mgfront/images/soc1.png') }}" width="102" height="20" alt="image description"></a></li>
            <li><a href="#"><img src="{{ asset('bundles/mgfront/images/soc2.png') }}" width="77" height="20" alt="image description"></a></li>
            <li><a href="#"><img src="{{ asset('bundles/mgfront/images/soc3.png') }}" width="74" height="20" alt="image description"></a></li>
            <li><a href="#"><img src="{{ asset('bundles/mgfront/images/soc4.png') }}" width="32" height="20" alt="image description"></a></li>
          </ul>
        </div>
        <div class="footer-img">
          <img src="{{ asset('bundles/mgfront/images/img-footer.png') }}" width="104" height="24" alt="image description">
        </div>
      </div>
    </div>
  </div>
</div>
