<div id="main">
<div id="mtab1" class="tab">
<div class="tab-form">
  <ul class="tabset multi-tabset">
    <li><a href="#m1tab1" class="active"><img src="{{ asset('bundles/mgfront/images/icon6.png') }}" width="24" height="23"
                                              alt="image description"><span>Все пироги</span></a></li>
    <li><a href="#m1tab2"><img src="{{ asset('bundles/mgfront/images/icon7.png') }}" width="24" height="24" alt="image description"><span>Острые</span></a>
    </li>
    <li><a href="#m1tab3"><img src="{{ asset('bundles/mgfront/images/icon8.png') }}" width="24" height="22"
                               alt="image description"><span>Постные</span></a></li>
    <li><a href="#m1tab4"><img src="{{ asset('bundles/mgfront/images/icon9.png') }}" width="26" height="26"
                               alt="image description"><span>Сладкие</span></a></li>
    <li><a href="#m1tab5"><img src="{{ asset('bundles/mgfront/images/icon10.png') }}" width="24" height="24"
                               alt="image description"><span>Сезонные</span></a></li>
  </ul>
  <div class="search-form">
    <form action="">
      <fieldset>
        <input type="text" value="Поиск по названию...">
        <input type="submit" value="">
      </fieldset>
    </form>
  </div>
</div>
<div class="tab-list">
<div id="m1tab1">
<div class="items">
<ul>
<li>
  <div class="icon">
    <img src="{{ asset('bundles/mgfront/images/icon7.png') }}" width="24" height="24" alt="image description">
  </div>
  <div class="item-img">
    <a href="#"><img src="{{ asset('bundles/mgfront/images/img3.jpg') }}" width="243" height="156" alt="image description"></a>
  </div>
  <a href="#">С мясом "Традиционный"</a>

  <div class="price">
    <ul>
      <li>
        <span>600 г</span>
        <strong>360 руб</strong>

        <div class="drop">
          <span>600 г</span>
          <strong>360 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span>1000 г</span>
        <strong>600 руб</strong>

        <div class="drop">
          <span>1000 г</span>
          <strong>600 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li class="last">
        <span>1200 г</span>
        <strong>720 руб</strong>

        <div class="drop">
          <span>1200 г</span>
          <strong>720 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
<li>
  <div class="icon">
    <img src="{{ asset('bundles/mgfront/images/icon8.png') }}" width="24" height="22" alt="image description">
  </div>
  <div class="icon2">
    <img src="{{ asset('bundles/mgfront/images/bg3.png') }}" width="78" height="46" alt="image description">
  </div>
  <div class="item-img">
    <a href="#"><img src="{{ asset('bundles/mgfront/images/img4.jpg') }}" width="240" height="154" alt="image description"></a>
  </div>
  <a href="#">С мясом "Традиционный"</a>

  <div class="price">
    <ul>
      <li>
        <span>600 г</span>
        <strong>360 руб</strong>

        <div class="drop">
          <span>600 г</span>
          <strong>360 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span>1000 г</span>
        <strong>600 руб</strong>

        <div class="drop">
          <span>1000 г</span>
          <strong>600 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li class="last">
        <span>1200 г</span>
        <strong>720 руб</strong>

        <div class="drop">
          <span>1200 г</span>
          <strong>720 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
<li>
  <div class="icon">
    <img src="{{ asset('bundles/mgfront/images/icon9.png') }}" width="26" height="26" alt="image description">
  </div>
  <div class="icon2">
    <img src="{{ asset('bundles/mgfront/images/bg2.png') }}" width="78" height="46" alt="image description">
  </div>
  <div class="item-img">
    <a href="#"><img src="{{ asset('bundles/mgfront/images/img5.jpg') }}" width="231" height="149" alt="image description"></a>
  </div>
  <a href="#">С мясом "Традиционный"</a>

  <div class="price">
    <ul>
      <li>
        <span>600 г</span>
        <strong>360 руб</strong>

        <div class="drop">
          <span>600 г</span>
          <strong>360 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span>1000 г</span>
        <strong>600 руб</strong>

        <div class="drop">
          <span>1000 г</span>
          <strong>600 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li class="last">
        <span>1200 г</span>
        <strong>720 руб</strong>

        <div class="drop">
          <span>1200 г</span>
          <strong>720 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
<li class="nth">
  <div class="icon">
    <img src="{{ asset('bundles/mgfront/images/icon10.png') }}" width="24" height="24" alt="image description">
  </div>
  <div class="item-img">
    <a href="#"><img src="{{ asset('bundles/mgfront/images/img6.jpg') }}" width="232" height="149" alt="image description"></a>
  </div>
  <a href="#">С мясом "Традиционный"</a>

  <div class="price">
    <ul>
      <li>
        <span>600 г</span>
        <strong>360 руб</strong>

        <div class="drop">
          <span>600 г</span>
          <strong>360 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span>1000 г</span>
        <strong>600 руб</strong>

        <div class="drop">
          <span>1000 г</span>
          <strong>600 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li class="last">
        <span>1200 г</span>
        <strong>720 руб</strong>

        <div class="drop">
          <span>1200 г</span>
          <strong>720 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
<li>
  <div class="icon">
    <img src="{{ asset('bundles/mgfront/images/icon7.png') }}" width="24" height="24" alt="image description">
  </div>
  <div class="icon2">
    <img src="{{ asset('bundles/mgfront/images/bg3.png') }}" width="78" height="46" alt="image description">
  </div>
  <div class="item-img">
    <a href="#"><img src="{{ asset('bundles/mgfront/images/img3.jpg') }}" width="243" height="156" alt="image description"></a>
  </div>
  <a href="#">С мясом "Традиционный"</a>

  <div class="price">
    <ul>
      <li>
        <span>600 г</span>
        <strong>360 руб</strong>

        <div class="drop">
          <span>600 г</span>
          <strong>360 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span>1000 г</span>
        <strong>600 руб</strong>

        <div class="drop">
          <span>1000 г</span>
          <strong>600 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li class="last">
        <span>1200 г</span>
        <strong>720 руб</strong>

        <div class="drop">
          <span>1200 г</span>
          <strong>720 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
<li>
  <div class="icon">
    <img src="{{ asset('bundles/mgfront/images/icon8.png') }}" width="24" height="22" alt="image description">
  </div>
  <div class="item-img">
    <a href="#"><img src="{{ asset('bundles/mgfront/images/img4.jpg') }}" width="240" height="154" alt="image description"></a>
  </div>
  <a href="#">С мясом "Традиционный"</a>

  <div class="price">
    <ul>
      <li>
        <span>600 г</span>
        <strong>360 руб</strong>

        <div class="drop">
          <span>600 г</span>
          <strong>360 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span>1000 г</span>
        <strong>600 руб</strong>

        <div class="drop">
          <span>1000 г</span>
          <strong>600 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li class="last">
        <span>1200 г</span>
        <strong>720 руб</strong>

        <div class="drop">
          <span>1200 г</span>
          <strong>720 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
<li>
  <div class="icon">
    <img src="{{ asset('bundles/mgfront/images/icon9.png') }}" width="26" height="26" alt="image description">
  </div>
  <div class="item-img">
    <a href="#"><img src="{{ asset('bundles/mgfront/images/img5.jpg') }}" width="231" height="149" alt="image description"></a>
  </div>
  <a href="#">С мясом "Традиционный"</a>

  <div class="price">
    <ul>
      <li>
        <span>600 г</span>
        <strong>360 руб</strong>

        <div class="drop">
          <span>600 г</span>
          <strong>360 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span>1000 г</span>
        <strong>600 руб</strong>

        <div class="drop">
          <span>1000 г</span>
          <strong>600 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li class="last">
        <span>1200 г</span>
        <strong>720 руб</strong>

        <div class="drop">
          <span>1200 г</span>
          <strong>720 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
<li class="nth">
  <div class="icon">
    <img src="{{ asset('bundles/mgfront/images/icon10.png') }}" width="24" height="24" alt="image description">
  </div>
  <div class="icon2">
    <img src="{{ asset('bundles/mgfront/images/bg2.png') }}" width="78" height="46" alt="image description">
  </div>
  <div class="item-img">
    <a href="#"><img src="{{ asset('bundles/mgfront/images/img6.jpg') }}" width="232" height="149" alt="image description"></a>
  </div>
  <a href="#">С мясом "Традиционный"</a>

  <div class="price">
    <ul>
      <li>
        <span>600 г</span>
        <strong>360 руб</strong>

        <div class="drop">
          <span>600 г</span>
          <strong>360 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span>1000 г</span>
        <strong>600 руб</strong>

        <div class="drop">
          <span>1000 г</span>
          <strong>600 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li class="last">
        <span>1200 г</span>
        <strong>720 руб</strong>

        <div class="drop">
          <span>1200 г</span>
          <strong>720 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
<li>
  <div class="icon">
    <img src="{{ asset('bundles/mgfront/images/icon7.png') }}" width="24" height="24" alt="image description">
  </div>
  <div class="item-img">
    <a href="#"><img src="{{ asset('bundles/mgfront/images/img3.jpg') }}" width="243" height="156" alt="image description"></a>
  </div>
  <a href="#">С мясом "Традиционный"</a>

  <div class="price">
    <ul>
      <li>
        <span>600 г</span>
        <strong>360 руб</strong>

        <div class="drop">
          <span>600 г</span>
          <strong>360 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span>1000 г</span>
        <strong>600 руб</strong>

        <div class="drop">
          <span>1000 г</span>
          <strong>600 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li class="last">
        <span>1200 г</span>
        <strong>720 руб</strong>

        <div class="drop">
          <span>1200 г</span>
          <strong>720 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
<li>
  <div class="icon">
    <img src="{{ asset('bundles/mgfront/images/icon8.png') }}" width="24" height="22" alt="image description">
  </div>
  <div class="item-img">
    <a href="#"><img src="{{ asset('bundles/mgfront/images/img4.jpg') }}" width="240" height="154" alt="image description"></a>
  </div>
  <a href="#">С мясом "Традиционный"</a>

  <div class="price">
    <ul>
      <li>
        <span>600 г</span>
        <strong>360 руб</strong>

        <div class="drop">
          <span>600 г</span>
          <strong>360 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span>1000 г</span>
        <strong>600 руб</strong>

        <div class="drop">
          <span>1000 г</span>
          <strong>600 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li class="last">
        <span>1200 г</span>
        <strong>720 руб</strong>

        <div class="drop">
          <span>1200 г</span>
          <strong>720 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
<li>
  <div class="icon">
    <img src="{{ asset('bundles/mgfront/images/icon9.png') }}" width="26" height="26" alt="image description">
  </div>
  <div class="item-img">
    <a href="#"><img src="{{ asset('bundles/mgfront/images/img5.jpg') }}" width="231" height="149" alt="image description"></a>
  </div>
  <a href="#">С мясом "Традиционный"</a>

  <div class="price">
    <ul>
      <li>
        <span>600 г</span>
        <strong>360 руб</strong>

        <div class="drop">
          <span>600 г</span>
          <strong>360 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span>1000 г</span>
        <strong>600 руб</strong>

        <div class="drop">
          <span>1000 г</span>
          <strong>600 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li class="last">
        <span>1200 г</span>
        <strong>720 руб</strong>

        <div class="drop">
          <span>1200 г</span>
          <strong>720 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
<li class="nth">
  <div class="icon">
    <img src="{{ asset('bundles/mgfront/images/icon10.png') }}" width="24" height="24" alt="image description">
  </div>
  <div class="icon2">
    <img src="{{ asset('bundles/mgfront/images/bg3.png') }}" width="78" height="46" alt="image description">
  </div>
  <div class="item-img">
    <a href="#"><img src="{{ asset('bundles/mgfront/images/img6.jpg') }}" width="232" height="149" alt="image description"></a>
  </div>
  <a href="#">С мясом "Традиционный"</a>

  <div class="price">
    <ul>
      <li>
        <span>600 г</span>
        <strong>360 руб</strong>

        <div class="drop">
          <span>600 г</span>
          <strong>360 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span>1000 г</span>
        <strong>600 руб</strong>

        <div class="drop">
          <span>1000 г</span>
          <strong>600 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
      <li class="last">
        <span>1200 г</span>
        <strong>720 руб</strong>

        <div class="drop">
          <span>1200 г</span>
          <strong>720 руб</strong>
          <ul>
            <li><a href="#">1 пирог</a></li>
            <li><a href="#">2 пирога</a></li>
            <li><a href="#">3 пирога</a></li>
            <li><a href="#">4 пирога</a></li>
            <li><a href="#">5 пирогов</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
</ul>
</div>
</div>
<div id="m1tab2">
  <p>Vestibulum tincidunt turpis eget enim porta volutpat. Ut dapibus pulvinar erat. Sed eget libero nec leo consequat
    egestas. Etiam tempus ante eu urna. Phasellus egestas varius est. Nulla venenatis faucibus quam. Nunc purus ipsum,
    pharetra vel, cursus nec, rutrum in, turpis. Nam ornare dolor eget nisl. Aliquam erat volutpat. Curabitur et dolor
    vitae magna porttitor bibendum. Proin ipsum elit, molestie eget, pellentesque at, eleifend non, erat. Donec pede.
    Donec arcu nibh, vulputate et, dictum in, convallis at, nulla. Curabitur et elit. Praesent urna elit, facilisis et,
    dignissim in, imperdiet et, metus. Nullam magna dui, viverra non, feugiat eget, convallis non, massa.</p>
</div>
<div id="m1tab3">
  <p>Proin tincidunt, orci eu consectetur interdum, enim tellus imperdiet odio, id porttitor enim pede sit amet erat.
    Aenean vitae dolor in nisi pharetra facilisis. Aenean laoreet eros ac tellus condimentum porttitor. Nam pretium
    vehicula mi. Phasellus ornare mi et tortor. Fusce commodo sapien. Donec ac massa ut lorem luctus vulputate. Nulla eu
    tellus placerat mi vulputate tempus. Etiam lectus. Pellentesque pharetra libero et dui. Integer sem urna, dapibus
    ac, cursus eget, hendrerit ut, mauris. In sed lorem. Sed ac ligula. Sed in lorem ac lectus porttitor sodales.
    Maecenas lacinia. Donec bibendum sagittis metus. Sed tincidunt tortor ac quam. Quisque a magna. In iaculis venenatis
    leo.</p>
</div>
<div id="m1tab4">
  <p>Maecenas gravida ligula et magna. Donec ligula. Vivamus vel massa a sem aliquet imperdiet. Duis dapibus, tellus
    vitae auctor pretium, nisl nulla facilisis metus, a tempor dolor augue id nibh. Cras leo. Phasellus vehicula, augue
    et pellentesque condimentum, nisi nisi suscipit augue, condimentum convallis odio quam sed tortor. Sed sollicitudin.
    Phasellus consequat fermentum dolor. Quisque velit nibh, bibendum ut, placerat ac, scelerisque nec, neque.
    Pellentesque tristique metus nec pede sagittis adipiscing. Morbi hendrerit eleifend ligula. Maecenas erat lacus,
    facilisis a, hendrerit non, euismod a, magna. Mauris iaculis venenatis ante. Donec fermentum. Vestibulum non erat.
    Cras fringilla, neque et posuere condimentum, nibh metus ullamcorper dui, eu rhoncus ligula felis eget risus.
    Phasellus sit amet tellus. Maecenas eu sapien.</p>
</div>
</div>
</div>
<div class="conteyner">
  <div class="text">
    <h2>Вкусно, полезно, экономно!</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
      anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
      inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
      ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
      magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
      qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
      numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
      voluptatem. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
  </div>
  <div class="shipping-payment">
    <h2>Доставка и оплата</h2>
    <strong>Прием заказов:</strong>

    <p>с 9.00 до 21.00 без выходных</p>
    <strong>Время доставки:</strong>

    <p>1 - 1,5 часа.</p>
    <strong>Оплата:</strong>

    <p>наличный и безналичный расчет</p>
    <ul>
      <li><a href="#"><img src="{{ asset('bundles/mgfront/images/purse.jpg') }}" width="71" height="48" alt="image description"></a></li>
      <li><a href="#"><img src="{{ asset('bundles/mgfront/images/purse2.jpg') }}" width="71" height="48" alt="image description"></a></li>
      <li><a href="#"><img src="{{ asset('bundles/mgfront/images/purse3.jpg') }}" width="71" height="48" alt="image description"></a></li>
    </ul>
    <strong>Телефоны:</strong>
    <span>(495) <b>723-60-57, 723-60-87</b></span>
  </div>
  <div class="reviews">
    <h2>Отзывы</h2>

    <div class="review">
      <em>Lorem ipsum dolor sit amet, consectetur <br>
        adipisicing elit, sed do eiusmod tempor <br>
        incididunt ut labore et dolore magna...</em>
    </div>
    <p>Автор отзыв</p>

    <div class="review">
      <em>Lorem ipsum dolor sit amet, consectetur <br>
        adipisicing elit, sed do eiusmod tempor <br>
        incididunt ut labore et dolore magna...</em>
    </div>
    <p>Автор отзыв</p>

    <div class="buttons">
      <a id="all" href="#">Все отзывы</a>
      <a onclick="popup('popUpDiv3')">Добавить отзыв</a>
    </div>
  </div>
</div>
</div>