<div class="gallery-conteyner">
  <div class="gallery-holder slideshow">
    <div class="gallery">
      <div class="gholder">
        <a class="btn-prev" href="#"></a>
        <a class="btn-next" href="#"></a>

        <div class="gmask">
          <div class="slideset">
            <div class="slide c1 active">
              <img src="{{ asset('bundles/mgfront/images/img.jpg') }}" width="1170" height="390" alt="image description">

              <div class="discount">
                <span>Осетинские Пироги</span>

                <p>20% скидка!*</p>
              </div>
              <div class="action">
                <b>* скидка действует до 5.02.2014.</b>
              </div>
            </div>
            <div class="slide c2">
              <img src="{{ asset('bundles/mgfront/images/img2.jpg') }}" width="1170" height="390" alt="image description">

              <div class="discount">
                <span>Осетинские Пироги</span>

                <p>20% скидка!*</p>
              </div>
              <div class="action">
                <b>* скидка действует до 5.02.2014.</b>
              </div>
            </div>
            <div class="slide c3">
              <img src="{{ asset('bundles/mgfront/images/img.jpg') }}" width="1170" height="390" alt="image description">

              <div class="discount">
                <span>Осетинские Пироги</span>

                <p>20% скидка!*</p>
              </div>
              <div class="action">
                <b>* скидка действует до 5.02.2014.</b>
              </div>
            </div>
            <div class="slide c4">
              <img src="{{ asset('bundles/mgfront/images/img2.jpg') }}" width="1170" height="390" alt="image description">

              <div class="discount">
                <span>Осетинские Пироги</span>

                <p>20% скидка!*</p>
              </div>
              <div class="action">
                <b>* скидка действует до 5.02.2014.</b>
              </div>
            </div>
            <div class="slide c5">
              <img src="{{ asset('bundles/mgfront/images/img.jpg') }}" width="1170" height="390" alt="image description">

              <div class="discount">
                <span>Осетинские Пироги</span>

                <p>20% скидка!*</p>
              </div>
              <div class="action">
                <b>* скидка действует до 5.02.2014.</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination">
        <ul>
          <li class="active"><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>