<div class="icon">
  {% if item.settings.group %}
    <img src="{{ asset('bundles/mgfront/images/' ~ item.settings.group|default('all') ~ '.png') }}"/>
  {% endif %}
</div>
<div class="icon2">
  {% if item.settings.isNew %}
    <img src="{{ asset('bundles/mgfront/images/bg3.png') }}" alt="{{ item.title }}">
  {% elseif item.settings.isSale %}
    <img src="{{ asset('bundles/mgfront/images/bg2.png') }}" alt="{{ item.title }}">
  {% endif %}
</div>
<div class="item-img">
  <a href="{{ url('ns_catalog_item', { 'categorySlug': item.category.slug, 'itemSlug': item.slug}) }}">
    <img src="{{ ('/upload/j/' ~ item.settings.photo)|apply_filter('catalog_grid_cell') }}" alt="{{ item.title }}" width="232" height="150">
  </a>
</div>

<a href="{{ url('ns_catalog_item', { 'categorySlug': item.category.slug, 'itemSlug': item.slug}) }}">{{ item.title }}</a>

<div class="price">
  <ul>
    {% for price in item.settings.prices %}
      {% if loop.index < 4 %}
        <li>
          <span>{{ price.weight }} г</span>
          <strong>{{ price.price }} руб</strong>

          <div class="drop">
            <span>{{ price.weight }} г</span>
            <strong>{{ price.price }} руб</strong>
            <ul data-product-id="{{ item.id }}" data-product-weigth="{{ price.weight }}">
              <li><a href="#">1 штука</a></li>
              <li><a href="#">2 штуки</a></li>
              <li><a href="#">3 штуки</a></li>
              <li><a href="#">4 штуки</a></li>
              <li><a href="#">5 штук</a></li>
            </ul>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
