<div id="mtab1" class="tab">
  <div class="tab-form">
    {% if not category or category.title == 'Осетинские пироги' %}
      {{ include('NSCatalogBundle:Catalog:filters.html.twig') }}
    {% endif %}
  </div>
  <div class="tab-list">
    <div id="m1tab1">
      <div class="items">
        <ul>
          {% for item in items %}
            <li{% if loop.index % 4 == 0 %} class="nth"{% endif %}>
              {{ include('NSCatalogBundle:Items:cell.html.twig', { 'item': item }) }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% if not category or category.title == 'Осетинские пироги' %}
    <div id="m1tab2">
      <div class="items">
        <ul>
          {% for item in items if item.settings.group == 'hot' %}
            <li{% if loop.index % 4 == 0 %} class="nth"{% endif %}>
              {{ include('NSCatalogBundle:Items:cell.html.twig', { 'item': item }) }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="m1tab3">
      <div class="items">
        <ul>
          {% for item in items if item.settings.group == 'nomeat' %}
            <li{% if loop.index % 4 == 0 %} class="nth"{% endif %}>
              {{ include('NSCatalogBundle:Items:cell.html.twig', { 'item': item }) }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="m1tab4">
      <div class="items">
        <ul>
          {% for item in items if item.settings.group == 'sweet' %}
            <li{% if loop.index % 4 == 0 %} class="nth"{% endif %}>
              {{ include('NSCatalogBundle:Items:cell.html.twig', { 'item': item }) }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="m1tab5">
      <div class="items">
        <ul>
          {% for item in items if item.settings.group == 'season' %}
            <li{% if loop.index % 4 == 0 %} class="nth"{% endif %}>
              {{ include('NSCatalogBundle:Items:cell.html.twig', { 'item': item }) }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% javascripts
'@MGFrontBundle/Resources/public/js/app/ProductModel.js'
'@MGFrontBundle/Resources/public/js/app/CatalogView.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
  var products = new MGApp.ProductCollection();
  products.url = '{{ path('mg_product_add') }}';

  new MGApp.CatalogView({
    el: $('#mtab1'),
    collection: products
  });
</script>
