<div id="main2">
  <div class="product">
    {% if item is defined %}
      <h1>{{ item.title }}</h1>
      {#<div class="footer-soc soc2">#}
        {#<ul>#}
          {#<li><a href="#"><img src="images/soc1.png" width="102" height="20" alt="image description"></a></li>#}
          {#<li><a href="#"><img src="images/soc2.png" width="77" height="20" alt="image description"></a></li>#}
          {#<li><a href="#"><img src="images/soc3.png" width="74" height="20" alt="image description"></a></li>#}
          {#<li><a href="#"><img src="images/soc4.png" width="32" height="20" alt="image description"></a></li>#}
        {#</ul>#}
      {#</div>#}
      <div class="product-block">
        <div class="product-block-left">
          <div class="pikachoose">
            <div class="icon3">
              <img src="{{ asset('bundles/mgfront/images/' ~ item.settings.group|default('all') ~ '.png') }}">
            </div>
            <ul id="pikame">
              {% if item.settings.photos|length > 1 %}
                {% for photo in item.settings.photos %}
                  <li{% if loop.last %} class="last"{% endif %}>
                    <a href=""><img src="{{ '/upload/j/' ~ photo }}"/></a>
                  </li>
                {% endfor %}
              {% else %}
                <li class="last">
                  <a href=""><img src="{{ '/upload/j/' ~ item.settings.photo }}"/></a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="product-block-right">
          <p>{{ item.settings.brief|raw }}</p>
          <form id="items-selector" action="">
            <fieldset>
              <ul>
                {% for price in item.settings.prices %}
                  {% if loop.index < 4 %}
                    <li data-product-id="{{ item.id }}" data-product-weigth="{{ price.weight }}">
                      <b>{{ price.weight }} г</b>
                      <strong>{{ price.price }} руб</strong>
                      <select class="area4">
                        <option value="0">Не выбрано</option>
                        <option value="1">1 штука</option>
                        <option value="2">2 штуки</option>
                        <option value="3">3 штуки</option>
                        <option value="4">4 штуки</option>
                        <option value="5">5 штук</option>
                      </select>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              <input type="submit" value="В корзину">
            </fieldset>
          </form>
        </div>
      </div>
    {% else %}
      <h2>Этот товар не существует!</h2>
    {% endif %}
  </div>
</div>

{% javascripts
  '@MGFrontBundle/Resources/public/js/app/ProductModel.js'
  '@MGFrontBundle/Resources/public/js/app/CatalogView.js'
  '@MGFrontBundle/Resources/public/js/app/ItemView.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script language="javascript">
  $(function () {
    $("#pikame").PikaChoose();
    jcf.customForms.replaceAll();

    var products = new MGApp.ProductCollection();
    products.url = '{{ path('mg_product_add') }}';

    new MGApp.ItemView({
      el: $('#items-selector'),
      collection: products,
      jcf: jcf
    });
  });
</script>
